<header class="encabezado">
    <div class="imglogo">
        <img src="assets/img/LogoUTPL.png" alt="Logo UTPL">
    </div>
    <div class="imguser">
        <a href="/perfil" class="username">Ver perfil</a>
    </div>
</header>

<h2 class="mx-4 my-4">Resultado de consulta homologaciónn</h2>

<section class="tabla-creditos">

    <div class="tabla-carrera-actual">
        <h3>Tecnologías de la Información</h3>
        <table class="tabla-creditos-carrera-actual">
            <tbody>
                <tr>
                    <td>Total de Créditos Aprobados</td>
                    <td>{{creditosActuales}}</td>
                </tr>
                <tr>
                    <td>Créditos Pendientes</td>
                    <td>{{getCreditosFaltantes(creditosActuales)}}</td>
                </tr>
                <tr>
                    <td>Ciclo</td>
                    <td>{{getCicloEstimado(creditosActuales)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tabla-carrera-homologar">
        <h3>Transformación Digital de Empresas</h3>
        <table class="tabla-creditos-carrera-homologar">
            <tbody>
                <tr>
                    <td>Total de Créditos Homologados</td>
                    <td>{{creditosHomologados}}</td>
                </tr>
                <tr>
                    <td>Total de Créditos NO Homologados</td>
                    <td>{{creditosActuales - creditosHomologados}}</td>
                </tr>
                <tr>
                    <td>Créditos Pendientes</td>
                    <td>{{64 - creditosHomologados}}</td>
                </tr>
                <tr>
                    <td>Ciclo Estimado</td>
                    <td>{{getCicloEstimado(creditosHomologados)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="tabla-carrera">
    <h3>Malla curricular</h3>
    <div class="contenedor-ciclos">
        <div *ngFor="let ciclo of getCiclosUnicos()" class="ciclo-container">
            <div class="asignaturas-container">
                <h2 class="center">Ciclo {{ ciclo }}</h2>
                <div *ngFor="let asignatura of user | filterByCiclo:ciclo" class="caja-asignatura">
                    <div class="parte-superior"
                        [ngClass]="{'homologacion-posible': existeHomologacion(asignatura.codigo_asignatura), 'homologacion-no-posible': !existeHomologacion(asignatura.codigo_asignatura)}">
                        <div class="creditos">{{ asignatura.creditos }} créditos</div>
                    </div>
                    <div class="parte-inferior">
                        <div class="nombre-asignatura">{{ asignatura.nombre_asignatura }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>