* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body,
html {
    height: 100%;

}

.tabla-carrera {
    margin: 2em;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #014270;
}

.imglogo {
    padding-left: 2em;
}

.imglogo img {
    max-width: 90px;
}

/* ... Estilos anteriores ... */

.tabla-carrera {
    margin-top: 20px;
}

.tabla-informacion-carrera {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-informacion-carrera th,
.tabla-informacion-carrera td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.homologacion-posible {
    color: green;
}

.homologacion-no-posible {
    color: red;
}


.tabla-creditos {
    display: flex;
    margin: 2em;

}

.tabla-carrera-actual,
.tabla-carrera-homologar {
    flex-grow: 1;
    margin-right: 20px;
}

.tabla-creditos h3 {
    margin-bottom: 10px;
}

.tabla-creditos-carrera-actual,
.tabla-creditos-carrera-homologar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-creditos-carrera-actual th,
.tabla-creditos-carrera-actual td,
.tabla-creditos-carrera-homologar th,
.tabla-creditos-carrera-homologar td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.contenedor-ciclos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ciclo-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.asignaturas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    text-align: center;
}

.center{
    text-align: center;
    align-items: center;
}

.caja-asignatura {
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 0px;
    width: 185px;
    display: flex;
    flex-direction: column;
}

.parte-superior {
    background-color: #f0f0f0;
    padding: 8px;
}

.parte-inferior {
    padding: 8px;
}

.creditos {
    font-weight: bold;
}

.estado {
    font-weight: bold;
}

.homologacion-posible {
    background-color: rgb(105, 174, 105);
    color: black;
}

.homologacion-no-posible {
    background-color: rgb(189, 117, 117);
    color: black;
}

.nombre-asignatura {
    font-weight: bold;
}